
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<form>
    <div class="form-group">
        <label for="exampleSelect1">Tipo de operaci&oacute;n</label>
        @Html.DropDownList("TipoOperacionList", new SelectList(ViewBag.TipoOperacionList, "idOperación", "dscTipoOperación"), new { @class = "form-control" })
    </div>
</form>

