@model  IEnumerable<string>
<form>
    @foreach (var item in Model)
    {
        <label class="radio-inline">
            <input type="radio" value="@item" name="optradio">@item
        </label>
    }
</form>
